@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px){
    .partners_slider{
        width: 90%;
    }
}
@media only screen and (max-width : 1130px){
    .contactform{
        flex-direction: column;
        align-items: center;
    }
    .contactform__left{
        width: 100%;
    }
    .contactform__right{
        width: 100%;
        text-align: center;
    }
    .contactform__info{
        text-align: center;
    }
    .contactform__input{
        width: 70%;
    }
    .contactform__info{
        padding: 15px 0;
    }
    .categories__container .product_slide{
        width: 25%;
    }
}
@media only screen and (max-width : 1024px){
    .basket__counter{
        width: 155px;
    }
    /*
    
    }*/
}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 960px){
    .header_main_block{
        flex-direction: column;
        align-items: center;
    }
    .header_main_block__right{
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .nav_container{
        display: none;
    }
    .slicknav_menu{
        display: block;
        
    }
    .nav_mobile{
        display: block;
        .mobile_menu_list{
            display: none;}
    }
    
}
@media only screen and (max-width : 860px){
    .main_container{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
    }
    .progress_container #slider{
        width: 100%;
    }
    .section__categories{
       padding-left: 0; 
    }
}
	/**/
@media only screen and (max-width : 700px){
    .input_wrapper{
        width: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
    .partners_slider{
        width: 80%;
    }
    .footer_menu__list{
        width: 100%;
    }
    }
	/**/
@media only screen and (max-width : 630px){
    .categories__container .product_slide{
        width: 33%;
    }
    .basket__item{
        flex-direction: column;
        align-items: center;
    }
    .basket__photo,.basket__description, .basket__counter, .basket__price--one, .basket__price--total{
        width: 100%;
}
}
@media only screen and (max-width : 600px){
    .footer_menu__list{
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width : 600px){
    .categories__container .product_slide{
        width: 50%;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 490px){
    .header_main_block__right{
        flex-direction: column;
        align-items: center;
    }
    .header_account_block{
        margin-top: 20px;
    }
     .phone__container .phone__number{
        font-size: 20px;
    }
    .phone__link .phone__img{
        height: 20px;
    }
}
	/**/

@media only screen and (max-width : 380px){
    .contactform__label{
        width: 70px;
    }
    }
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
    
    }
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){
    
    }
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
    
    }
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){
    
    }
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
    
    }
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
    
    }
	/**/

