//BASKET BEGIN
.section__basket{
    padding-top: 30px;
}
.basket_list{
    margin-top: 25px;
}
.basket__item{
    display: flex;
    flex-wrap: wrap;
}
.basket__photo{
    width: 8.5%;
     box-sizing: border-box;
    border: 1px solid #f2f2f2;
    &.all{
        padding: 10px 0;
    }
}
.basket__description{
    width: 37%;
     box-sizing: border-box;
    padding: 25px 20px;
    border: 1px solid #f2f2f2;
    .basket__name{
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
    }
    .basket__article .product_article{
        margin: 15px 0 0;
    }
    &.all{
        padding: 10px 0;
    }
}
.basket__counter{
    width: 14.5%;
     box-sizing: border-box;
     border: 1px solid #f2f2f2;
    padding: 35px 25px;
    &.all{
        padding: 10px 0;
    }
}
.form_counter{
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 26px;
    .form_counter__button{
        position: absolute;
        width: 26px;
        height: 26px;
        display: inline-block;
        border: 1px solid #f2f2f2;
        background-color: #f2f2f2;
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        &.less{
            left: 0;
        }
        &.more{
            left:80px;
        }
    }
    .form_counter__input{
        position: absolute;
        left:26px;
         display: inline-block;
        width: 59px;
        height: 26px;
        border: 1px solid #f2f2f2;
        box-sizing: border-box;
        
    }
    &.all{
        padding: 10px 0;
    }
}
.basket__price--one{
    width: 12.5%;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    padding: 40px 0;
    .price_one__title{
        text-align: center;
        color: #3e3e3e;
        font-weight: 400;
        line-height: 21px;
        font-family: "Proxima Nova";
        font-size: 21px;
        font-weight: 400;
        .sign{
            color: #3e3e3e;
        }
    }
    &.all{
        padding: 10px 0;
    }
    
}
.basket__price--total{
    width: 12.5%;
     box-sizing: border-box;
    border: 1px solid #f2f2f2;
     padding: 40px 0;
    .price_total__title{
        text-align: center;
        color: #3e3e3e;
        line-height: 24px;
        font-family: "Proxima Nova";
        font-size: 24px;
        font-weight: 700;
    }
    &.all{
        padding: 10px 0;
        .price_total__title{
            color: #a21c26;}
    }
    
}
.basket__clear{
    margin-left: 25px;
    display: inline-block;
    vertical-align: middle;
     padding: 40px 0;
    .basket_clear__link{
        
    }
     &.clear_all{
        padding: 10px 0;
    }
}
//BASKET END
//CONTACTFORM BEGIN
.section__contactform{
    padding: 36px 0 44px;
}

.contactform{
    display: flex;
}
.contactform__left{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
}
.input_wrapper{
    width: 50%;
}
.contactform__label{
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #000000;
    display: inline-block;;
    width: 20%;
    
    box-sizing: border-box;
}
.contactform__input{
    margin-left: 10px;
    margin-top: 15px;
    width: 232px;
    height: 25px;
    border: 1px solid #f2f2f2;
}
.contactform__right{
    margin-top: 15px;
    width: 25%;
    text-align: right;
}
.contactform__submit{
    background-color: #c20d19;
    padding: 15px 50px;
    border: 0;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
}
.contactform__info{
    text-align: justify;
    padding: 15px 0 0 65px;
    color: #7e7e7e;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 400;
}
//CONTACTFORM END
@import "basket_media";