@media only screen and (max-width : 1130px){
   
    .categories__container .product_slide{
        width: 25%;
    }
}
@media only screen and (max-width : 860px){
    .main_container{
        flex-direction: column;
    }
    .main{
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }
    .progress_container #slider{
        width: 100%;
    }
    .section__categories{
       padding-left: 0; 
    }
}
@media only screen and (max-width : 630px){
    .categories__container .product_slide{
        width: 33%;
    }
    
}
@media only screen and (max-width : 600px){
    .categories__container .product_slide{
        width: 50%;
    }
}