
//SIDEBAR BEGIN
.sidebar{
    width: 240px;
}
//PRICE FORM BEGI
.price_form_container{
    background-color: #f6f6f6;
    margin-top: 17px;
}
.price_form__form{
    padding: 15px 10px 15px 20px;
    
}
.price_form__title{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    font-family: "Proxima Nova";
    line-height: 35px;
}
.price_input_wrap{
    display: inline-block;
}
.price_form__input{
    height: 20px;
    border: 1px solid #e6e6e6;
    position: relative;
    &::after{
        content: '-';
        position: absolute;
        right: 0;
        z-index: 999;
    }
    &.start{
        position: relative;
        width: 72px;
        margin-right: 15px;
        
    }
    &.end{
        margin-left: 10px;
        width: 90px;
    }
}

.progress_container{
    position: relative;
    margin-top:20px;
    .price_form__start, .price_form__end{
        position: absolute;
        top: -20px;
        color: #777777;
        font-family: Arial;
        font-size: 8px;
        font-weight: 400;
        line-height: 24px;
    }
    .price_form__start{
        left: 0;
    }
    .price_form__end{
        right: 0;
    }
    #slider{
        width: 210px;
    }
    .ui-slider {
	    position: relative;
    }
    .ui-slider .ui-slider-handle {
        position: absolute;
        z-index: 2;
        top:0;
        width: 13px;
        height: 13px;
        border: 0;
        outline: 0;
        background: url(../img/drag.png) no-repeat 0 ;
        cursor: pointer
    }
    .ui-slider .ui-slider-range {
        position: absolute;
        z-index: 1;
        font-size: .7em;
        display: block;
        border: 0;
        overflow: hidden;
    }
    .ui-slider-horizontal {
         height: 3px;
    }
    .ui-slider-horizontal .ui-slider-handle { 
        margin-left: -3px;
    }
    .ui-slider-horizontal .ui-slider-range {
        top: 0;
        height: 100%;
    }
    .ui-slider-horizontal .ui-slider-range-min { 
        left: 0;
    }
    .ui-slider-horizontal .ui-slider-range-max {
        right: 0;
    }
    .ui-widget-content { 
        border: 0;
        background: #e0e0e0;
    }
    .ui-widget-header { 
        border: 0;
        background:  #a21c26;
    }
    .ui-corner-all {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
    
}
//PRICE FORM END
//SECTION CATEGORIES BEGIN
.section__categories{
    padding: 32px 0 43px 30px;
    box-sizing: border-box;
}
.categories__container{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    .product_slide{
        width: 20%;
    }
}

.select_container{
    display: inline-block;
    float: right;
}
.select__info{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
}
.select__list{
    display: inline-block;
    background-color: #ededed;
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    .select__option{
         font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
    }
   
}
//SECTION CATEGORIES END
//PAGINATION BEGIN
.pagination_container{
    display: flex;
    flex-direction: row-reverse;
}
.pagination{
    margin-top: 55px;
    display: flex;
    
    a{
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 7px 9px;
    }
    .current{
        a{
            background-color: #ededed;
        }
    }
}
//PAGINATION END
//BRAND LIST BEGIN
.brand_container{
     background-color: #f6f6f6;
    margin-top: 17px;
    padding: 15px 20px;
}
.brand__title{
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.brand_list{
    .brand__item{
        color: #000000;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        .brand__check{
            width: 10px;
            height: 10px;
            border: 1px solid #e6e6e6;
            background-color: #ffffff;
        }
    }
}
//BRAND LIST END
@import "categories_media";